.body {
  position: relative;
  height: 100vh;
  width: 100vw;
  flex: 0.9;
  color: white;
  padding: 30px;
  
  background: rgb(18,18,18);
  overflow-y: overlay;
}
.body::-webkit-scrollbar {
  display: none;
}
.body__info {
  display: flex;
  align-items: flex-end;
  padding: 10px;
}
.body__infoText {
  flex: 1;
}
.body__infoText > h2 {
  font-size: 48px;
  margin-top: 5px;
}
@media screen and (max-width: 768px) {
  .body__infoText > h2 {
    font-size: 22px;
  }
}
.body__infoText > p {
  font-size: 14px;
  margin-top: 10px;
}
.body__info > img {
  height: 20vw;
  margin: 0 20px;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}
.body__icons {
  display: flex;
  align-items: center;
}
.body__icons > .MuiSvgIcon-root {
  margin-right: 20px;
}
.body__shuffle {
  font-size: 80px !important;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.body__shuffle:hover {
  transition: 100ms transform ease-in;
  transform: scale(1.08);
}
.body__songs {
  padding-bottom: 10vh;
  margin: 20px -30px;
}

/* Album Grid CSS */
.new_header {
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 600;
}

.grid__playlists {
  height: auto;
  max-width: 100vw;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-bottom: 10vh;
}

.grid__container {
  position: relative;
  width: auto;
}

.grid__container > img:hover {
  opacity: 0.7;
  transition: all 0.3s linear;
  transform: scale(1.1);
}

.grid__container:hover .play__btn {
  opacity: 1;
  transition: all 0.3s linear;
}

.grid__container > img {
  padding: 1rem;
  width: 300px;
}

.play__btn {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  color: green;
  font-size: 60px !important;
}

/* MyLibrary CSS */
h2 {
  letter-spacing: 1px;
  font-size: 24px;
}

.favorite__container {
  width: 500px;
  max-height: 300px;
  background-color: rgba(179, 177, 190, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0 1rem 2rem;
  box-shadow: 2px 4px 4px 0 rgba(0,0,0,0.2)
}

.favorite__container > img {
  width: 150px;
  height: 150px;
  padding-bottom: 1rem;
}

.favorite__firsttracks {
  display: flex;
  padding-bottom: 10px;
}

.favorite__firsttracks > .name {
  font-weight: 600;
  margin-right: 0.5rem;
}

.artist__grid {
  display: flex;
  margin: 2rem 0 5rem 0;
  padding-bottom: 2rem;
  overflow-x: scroll;
}

.playlist_scrollbar::-webkit-scrollbar {
  display:none;
}

.artist__grid::-webkit-scrollbar  {
  width:5px;
  background-color: rgb(91, 87, 115); 
  border-radius:30px;
} 

.artist__grid::-webkit-scrollbar-thumb {
  background-color: rgb(179, 177, 190); 
  border-radius:30px;
} 

.grid__content {
  background-color: rgba(179, 177, 190, 0.1);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  height: 300px;
  margin: 0 1rem 0 1rem;
  text-align: center;
  box-shadow: 2px 4px 4px 0 rgba(0,0,0,0.2)
}

.grid__content span {
  font-weight: 600;
  letter-spacing: 1px;
}

.grid__content img {
  width: 150px;
  max-height: 150px;
  padding: 1.5rem;
  border-radius: 50%;

}

.grid__followers {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid__followers > h4 {
  margin-left: 0.5rem;
}

.FavIcon {
  color: green;
}