.header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
  margin-bottom: 5rem;
  
}

.header__left {
  position: fixed;
  flex: 0.5;
  width: 400px;
  background-color: white;
  color: rgba(0, 0, 0, 0.808);
  border-radius: 30px;
  padding: 10px;
  align-items: center;
}

.header__left > input {
  outline: none;
  border: none;
  width: 100%;
}

.header__search {
  background-color: rgb(18,18,18);
  overflow-y: auto;
  position: fixed;
  /* border: 1px solid white; */
  width: 80vw;
  height: 100vh;
  top: 100px;
}

.header__search::-webkit-scrollbar  {
  display:none
}
.header__right {
  position: fixed;
  right: 40px;
  display: flex;
  align-items: center;
}

.header__right > h4 {
  margin-left: 10px;
}
