.result__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    color: white;
    background-color: rgb(18,18,18);
}
.result__container::-webkit-scrollbar{
    display: none;
}

/* FIRST TOP */
.top__container {
    display: flex;
    /* 위쪽 구분선용 */
    min-height: 250px;;
}

.topResult__container {
    border: 1px solid white;
    flex: 0.4;
}

.track__container {
    border: 1px solid white;
    flex: 0.6;
}

.topResult__info {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem 1rem 1rem 0;
    height: 180px;
    background-color: rgb(24,24,24);
    overflow-y: auto;
}
.topResult__info:hover {
    background-color: rgb(40,40,40);
    -webkit-transition: all 0.2s ease-in-out;
}

.topResult__info > div {
    display : flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

.topResult__info::-webkit-scrollbar {
    display: none;
}

.topResult__info > img {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
    border-radius: 999px;
}

.tracks__image {
    display: flex;
}

.tracks__image > img {
    max-width: 50px;
    max-height: 50px;
}

.tracks__info {
    margin-left: 10px;
}
.tracks__info > h5 {
    font-weight: 300;
}

.tracks__duration {
    color: gray;
}

/* MIDDLE */
.middle__container {
    margin:2.5rem 0 1rem 0;
    border: 1px solid white;
    display:flex;
    flex-direction: column;
    height: 45vh;
}

.artist__container {
    display: flex;
    border: 1px solid white;
    margin: 1rem 0 1rem 0;
    height: 50vh;
    overflow-x: auto;
    overflow-y: hidden;
}
.artist__container::-webkit-scrollbar  {
    width:3px;
    background-color: rgb(91, 87, 115); 
    border-radius:30px;
  }
.artist__container::-webkit-scrollbar-thumb {
    background-color: rgb(179, 177, 190);
    border-radius: 30px;
}
.artist__container::-webkit-scrollbar-thumb:active {
    background-color: rgb(145, 143, 155); 
  }  

.artist__card {
    margin:0 1rem 1.5rem 0 ;
    padding: 1rem;
    background-color: rgb(24,24,24);
}
.artist__card:hover {
    background-color: rgb(40,40,40);
    -webkit-transition: all 0.2s ease-in-out;
}
.artist__card > img {
    width: 180px;
    height: 180px;
    border-radius: 999px;
    margin-bottom: 1rem;
}
.artist__card > h5 {
    font-weight: 400;
    text-transform: uppercase;
}